/* @theme catppuccin-macchiato */

@import "default";
@import "./catpuccin_pallete.css";

:root {
	--ctp-rosewater: var(--ctp-macchiato-rosewater);
	--ctp-rosewater-rgb: var(--ctp-macchiato-rosewater-rgb);
	--ctp-rosewater-hsl: var(--ctp-macchiato-rosewater-hsl);
	--ctp-rosewater-oklch: var(--ctp-macchiato-rosewater-oklch);
	--ctp-flamingo: var(--ctp-macchiato-flamingo);
	--ctp-flamingo-rgb: var(--ctp-macchiato-flamingo-rgb);
	--ctp-flamingo-hsl: var(--ctp-macchiato-flamingo-hsl);
	--ctp-flamingo-oklch: var(--ctp-macchiato-flamingo-oklch);
	--ctp-pink: var(--ctp-macchiato-pink);
	--ctp-pink-rgb: var(--ctp-macchiato-pink-rgb);
	--ctp-pink-hsl: var(--ctp-macchiato-pink-hsl);
	--ctp-pink-oklch: var(--ctp-macchiato-pink-oklch);
	--ctp-mauve: var(--ctp-macchiato-mauve);
	--ctp-mauve-rgb: var(--ctp-macchiato-mauve-rgb);
	--ctp-mauve-hsl: var(--ctp-macchiato-mauve-hsl);
	--ctp-mauve-oklch: var(--ctp-macchiato-mauve-oklch);
	--ctp-red: var(--ctp-macchiato-red);
	--ctp-red-rgb: var(--ctp-macchiato-red-rgb);
	--ctp-red-hsl: var(--ctp-macchiato-red-hsl);
	--ctp-red-oklch: var(--ctp-macchiato-red-oklch);
	--ctp-maroon: var(--ctp-macchiato-maroon);
	--ctp-maroon-rgb: var(--ctp-macchiato-maroon-rgb);
	--ctp-maroon-hsl: var(--ctp-macchiato-maroon-hsl);
	--ctp-maroon-oklch: var(--ctp-macchiato-maroon-oklch);
	--ctp-peach: var(--ctp-macchiato-peach);
	--ctp-peach-rgb: var(--ctp-macchiato-peach-rgb);
	--ctp-peach-hsl: var(--ctp-macchiato-peach-hsl);
	--ctp-peach-oklch: var(--ctp-macchiato-peach-oklch);
	--ctp-yellow: var(--ctp-macchiato-yellow);
	--ctp-yellow-rgb: var(--ctp-macchiato-yellow-rgb);
	--ctp-yellow-hsl: var(--ctp-macchiato-yellow-hsl);
	--ctp-yellow-oklch: var(--ctp-macchiato-yellow-oklch);
	--ctp-green: var(--ctp-macchiato-green);
	--ctp-green-rgb: var(--ctp-macchiato-green-rgb);
	--ctp-green-hsl: var(--ctp-macchiato-green-hsl);
	--ctp-green-oklch: var(--ctp-macchiato-green-oklch);
	--ctp-teal: var(--ctp-macchiato-teal);
	--ctp-teal-rgb: var(--ctp-macchiato-teal-rgb);
	--ctp-teal-hsl: var(--ctp-macchiato-teal-hsl);
	--ctp-teal-oklch: var(--ctp-macchiato-teal-oklch);
	--ctp-sky: var(--ctp-macchiato-sky);
	--ctp-sky-rgb: var(--ctp-macchiato-sky-rgb);
	--ctp-sky-hsl: var(--ctp-macchiato-sky-hsl);
	--ctp-sky-oklch: var(--ctp-macchiato-sky-oklch);
	--ctp-sapphire: var(--ctp-macchiato-sapphire);
	--ctp-sapphire-rgb: var(--ctp-macchiato-sapphire-rgb);
	--ctp-sapphire-hsl: var(--ctp-macchiato-sapphire-hsl);
	--ctp-sapphire-oklch: var(--ctp-macchiato-sapphire-oklch);
	--ctp-blue: var(--ctp-macchiato-blue);
	--ctp-blue-rgb: var(--ctp-macchiato-blue-rgb);
	--ctp-blue-hsl: var(--ctp-macchiato-blue-hsl);
	--ctp-blue-oklch: var(--ctp-macchiato-blue-oklch);
	--ctp-lavender: var(--ctp-macchiato-lavender);
	--ctp-lavender-rgb: var(--ctp-macchiato-lavender-rgb);
	--ctp-lavender-hsl: var(--ctp-macchiato-lavender-hsl);
	--ctp-lavender-oklch: var(--ctp-macchiato-lavender-oklch);
	--ctp-text: var(--ctp-macchiato-text);
	--ctp-text-rgb: var(--ctp-macchiato-text-rgb);
	--ctp-text-hsl: var(--ctp-macchiato-text-hsl);
	--ctp-text-oklch: var(--ctp-macchiato-text-oklch);
	--ctp-subtext1: var(--ctp-macchiato-subtext1);
	--ctp-subtext1-rgb: var(--ctp-macchiato-subtext1-rgb);
	--ctp-subtext1-hsl: var(--ctp-macchiato-subtext1-hsl);
	--ctp-subtext1-oklch: var(--ctp-macchiato-subtext1-oklch);
	--ctp-subtext0: var(--ctp-macchiato-subtext0);
	--ctp-subtext0-rgb: var(--ctp-macchiato-subtext0-rgb);
	--ctp-subtext0-hsl: var(--ctp-macchiato-subtext0-hsl);
	--ctp-subtext0-oklch: var(--ctp-macchiato-subtext0-oklch);
	--ctp-overlay2: var(--ctp-macchiato-overlay2);
	--ctp-overlay2-rgb: var(--ctp-macchiato-overlay2-rgb);
	--ctp-overlay2-hsl: var(--ctp-macchiato-overlay2-hsl);
	--ctp-overlay2-oklch: var(--ctp-macchiato-overlay2-oklch);
	--ctp-overlay1: var(--ctp-macchiato-overlay1);
	--ctp-overlay1-rgb: var(--ctp-macchiato-overlay1-rgb);
	--ctp-overlay1-hsl: var(--ctp-macchiato-overlay1-hsl);
	--ctp-overlay1-oklch: var(--ctp-macchiato-overlay1-oklch);
	--ctp-overlay0: var(--ctp-macchiato-overlay0);
	--ctp-overlay0-rgb: var(--ctp-macchiato-overlay0-rgb);
	--ctp-overlay0-hsl: var(--ctp-macchiato-overlay0-hsl);
	--ctp-overlay0-oklch: var(--ctp-macchiato-overlay0-oklch);
	--ctp-surface2: var(--ctp-macchiato-surface2);
	--ctp-surface2-rgb: var(--ctp-macchiato-surface2-rgb);
	--ctp-surface2-hsl: var(--ctp-macchiato-surface2-hsl);
	--ctp-surface2-oklch: var(--ctp-macchiato-surface2-oklch);
	--ctp-surface1: var(--ctp-macchiato-surface1);
	--ctp-surface1-rgb: var(--ctp-macchiato-surface1-rgb);
	--ctp-surface1-hsl: var(--ctp-macchiato-surface1-hsl);
	--ctp-surface1-oklch: var(--ctp-macchiato-surface1-oklch);
	--ctp-surface0: var(--ctp-macchiato-surface0);
	--ctp-surface0-rgb: var(--ctp-macchiato-surface0-rgb);
	--ctp-surface0-hsl: var(--ctp-macchiato-surface0-hsl);
	--ctp-surface0-oklch: var(--ctp-macchiato-surface0-oklch);
	--ctp-base: var(--ctp-macchiato-base);
	--ctp-base-rgb: var(--ctp-macchiato-base-rgb);
	--ctp-base-hsl: var(--ctp-macchiato-base-hsl);
	--ctp-base-oklch: var(--ctp-macchiato-base-oklch);
	--ctp-mantle: var(--ctp-macchiato-mantle);
	--ctp-mantle-rgb: var(--ctp-macchiato-mantle-rgb);
	--ctp-mantle-hsl: var(--ctp-macchiato-mantle-hsl);
	--ctp-mantle-oklch: var(--ctp-macchiato-mantle-oklch);
	--ctp-crust: var(--ctp-macchiato-crust);
	--ctp-crust-rgb: var(--ctp-macchiato-crust-rgb);
	--ctp-crust-hsl: var(--ctp-macchiato-crust-hsl);
	--ctp-crust-oklch: var(--ctp-macchiato-crust-oklch);
}
