/* @theme catppuccin-latte */

@import "default";
@import "catppuccin-pallete";

:root {
	--ctp-rosewater: var(--ctp-latte-rosewater);
	--ctp-rosewater-rgb: var(--ctp-latte-rosewater-rgb);
	--ctp-rosewater-hsl: var(--ctp-latte-rosewater-hsl);
	--ctp-rosewater-oklch: var(--ctp-latte-rosewater-oklch);
	--ctp-flamingo: var(--ctp-latte-flamingo);
	--ctp-flamingo-rgb: var(--ctp-latte-flamingo-rgb);
	--ctp-flamingo-hsl: var(--ctp-latte-flamingo-hsl);
	--ctp-flamingo-oklch: var(--ctp-latte-flamingo-oklch);
	--ctp-pink: var(--ctp-latte-pink);
	--ctp-pink-rgb: var(--ctp-latte-pink-rgb);
	--ctp-pink-hsl: var(--ctp-latte-pink-hsl);
	--ctp-pink-oklch: var(--ctp-latte-pink-oklch);
	--ctp-mauve: var(--ctp-latte-mauve);
	--ctp-mauve-rgb: var(--ctp-latte-mauve-rgb);
	--ctp-mauve-hsl: var(--ctp-latte-mauve-hsl);
	--ctp-mauve-oklch: var(--ctp-latte-mauve-oklch);
	--ctp-red: var(--ctp-latte-red);
	--ctp-red-rgb: var(--ctp-latte-red-rgb);
	--ctp-red-hsl: var(--ctp-latte-red-hsl);
	--ctp-red-oklch: var(--ctp-latte-red-oklch);
	--ctp-maroon: var(--ctp-latte-maroon);
	--ctp-maroon-rgb: var(--ctp-latte-maroon-rgb);
	--ctp-maroon-hsl: var(--ctp-latte-maroon-hsl);
	--ctp-maroon-oklch: var(--ctp-latte-maroon-oklch);
	--ctp-peach: var(--ctp-latte-peach);
	--ctp-peach-rgb: var(--ctp-latte-peach-rgb);
	--ctp-peach-hsl: var(--ctp-latte-peach-hsl);
	--ctp-peach-oklch: var(--ctp-latte-peach-oklch);
	--ctp-yellow: var(--ctp-latte-yellow);
	--ctp-yellow-rgb: var(--ctp-latte-yellow-rgb);
	--ctp-yellow-hsl: var(--ctp-latte-yellow-hsl);
	--ctp-yellow-oklch: var(--ctp-latte-yellow-oklch);
	--ctp-green: var(--ctp-latte-green);
	--ctp-green-rgb: var(--ctp-latte-green-rgb);
	--ctp-green-hsl: var(--ctp-latte-green-hsl);
	--ctp-green-oklch: var(--ctp-latte-green-oklch);
	--ctp-teal: var(--ctp-latte-teal);
	--ctp-teal-rgb: var(--ctp-latte-teal-rgb);
	--ctp-teal-hsl: var(--ctp-latte-teal-hsl);
	--ctp-teal-oklch: var(--ctp-latte-teal-oklch);
	--ctp-sky: var(--ctp-latte-sky);
	--ctp-sky-rgb: var(--ctp-latte-sky-rgb);
	--ctp-sky-hsl: var(--ctp-latte-sky-hsl);
	--ctp-sky-oklch: var(--ctp-latte-sky-oklch);
	--ctp-sapphire: var(--ctp-latte-sapphire);
	--ctp-sapphire-rgb: var(--ctp-latte-sapphire-rgb);
	--ctp-sapphire-hsl: var(--ctp-latte-sapphire-hsl);
	--ctp-sapphire-oklch: var(--ctp-latte-sapphire-oklch);
	--ctp-blue: var(--ctp-latte-blue);
	--ctp-blue-rgb: var(--ctp-latte-blue-rgb);
	--ctp-blue-hsl: var(--ctp-latte-blue-hsl);
	--ctp-blue-oklch: var(--ctp-latte-blue-oklch);
	--ctp-lavender: var(--ctp-latte-lavender);
	--ctp-lavender-rgb: var(--ctp-latte-lavender-rgb);
	--ctp-lavender-hsl: var(--ctp-latte-lavender-hsl);
	--ctp-lavender-oklch: var(--ctp-latte-lavender-oklch);
	--ctp-text: var(--ctp-latte-text);
	--ctp-text-rgb: var(--ctp-latte-text-rgb);
	--ctp-text-hsl: var(--ctp-latte-text-hsl);
	--ctp-text-oklch: var(--ctp-latte-text-oklch);
	--ctp-subtext1: var(--ctp-latte-subtext1);
	--ctp-subtext1-rgb: var(--ctp-latte-subtext1-rgb);
	--ctp-subtext1-hsl: var(--ctp-latte-subtext1-hsl);
	--ctp-subtext1-oklch: var(--ctp-latte-subtext1-oklch);
	--ctp-subtext0: var(--ctp-latte-subtext0);
	--ctp-subtext0-rgb: var(--ctp-latte-subtext0-rgb);
	--ctp-subtext0-hsl: var(--ctp-latte-subtext0-hsl);
	--ctp-subtext0-oklch: var(--ctp-latte-subtext0-oklch);
	--ctp-overlay2: var(--ctp-latte-overlay2);
	--ctp-overlay2-rgb: var(--ctp-latte-overlay2-rgb);
	--ctp-overlay2-hsl: var(--ctp-latte-overlay2-hsl);
	--ctp-overlay2-oklch: var(--ctp-latte-overlay2-oklch);
	--ctp-overlay1: var(--ctp-latte-overlay1);
	--ctp-overlay1-rgb: var(--ctp-latte-overlay1-rgb);
	--ctp-overlay1-hsl: var(--ctp-latte-overlay1-hsl);
	--ctp-overlay1-oklch: var(--ctp-latte-overlay1-oklch);
	--ctp-overlay0: var(--ctp-latte-overlay0);
	--ctp-overlay0-rgb: var(--ctp-latte-overlay0-rgb);
	--ctp-overlay0-hsl: var(--ctp-latte-overlay0-hsl);
	--ctp-overlay0-oklch: var(--ctp-latte-overlay0-oklch);
	--ctp-surface2: var(--ctp-latte-surface2);
	--ctp-surface2-rgb: var(--ctp-latte-surface2-rgb);
	--ctp-surface2-hsl: var(--ctp-latte-surface2-hsl);
	--ctp-surface2-oklch: var(--ctp-latte-surface2-oklch);
	--ctp-surface1: var(--ctp-latte-surface1);
	--ctp-surface1-rgb: var(--ctp-latte-surface1-rgb);
	--ctp-surface1-hsl: var(--ctp-latte-surface1-hsl);
	--ctp-surface1-oklch: var(--ctp-latte-surface1-oklch);
	--ctp-surface0: var(--ctp-latte-surface0);
	--ctp-surface0-rgb: var(--ctp-latte-surface0-rgb);
	--ctp-surface0-hsl: var(--ctp-latte-surface0-hsl);
	--ctp-surface0-oklch: var(--ctp-latte-surface0-oklch);
	--ctp-base: var(--ctp-latte-base);
	--ctp-base-rgb: var(--ctp-latte-base-rgb);
	--ctp-base-hsl: var(--ctp-latte-base-hsl);
	--ctp-base-oklch: var(--ctp-latte-base-oklch);
	--ctp-mantle: var(--ctp-latte-mantle);
	--ctp-mantle-rgb: var(--ctp-latte-mantle-rgb);
	--ctp-mantle-hsl: var(--ctp-latte-mantle-hsl);
	--ctp-mantle-oklch: var(--ctp-latte-mantle-oklch);
	--ctp-crust: var(--ctp-latte-crust);
	--ctp-crust-rgb: var(--ctp-latte-crust-rgb);
	--ctp-crust-hsl: var(--ctp-latte-crust-hsl);
	--ctp-crust-oklch: var(--ctp-latte-crust-oklch);
}
