/* @theme catppuccin-frappe */

@import "default";
@import "./catpuccin_pallete.css";

:root {
	--ctp-rosewater: var(--ctp-frappe-rosewater);
	--ctp-rosewater-rgb: var(--ctp-frappe-rosewater-rgb);
	--ctp-rosewater-hsl: var(--ctp-frappe-rosewater-hsl);
	--ctp-rosewater-oklch: var(--ctp-frappe-rosewater-oklch);
	--ctp-flamingo: var(--ctp-frappe-flamingo);
	--ctp-flamingo-rgb: var(--ctp-frappe-flamingo-rgb);
	--ctp-flamingo-hsl: var(--ctp-frappe-flamingo-hsl);
	--ctp-flamingo-oklch: var(--ctp-frappe-flamingo-oklch);
	--ctp-pink: var(--ctp-frappe-pink);
	--ctp-pink-rgb: var(--ctp-frappe-pink-rgb);
	--ctp-pink-hsl: var(--ctp-frappe-pink-hsl);
	--ctp-pink-oklch: var(--ctp-frappe-pink-oklch);
	--ctp-mauve: var(--ctp-frappe-mauve);
	--ctp-mauve-rgb: var(--ctp-frappe-mauve-rgb);
	--ctp-mauve-hsl: var(--ctp-frappe-mauve-hsl);
	--ctp-mauve-oklch: var(--ctp-frappe-mauve-oklch);
	--ctp-red: var(--ctp-frappe-red);
	--ctp-red-rgb: var(--ctp-frappe-red-rgb);
	--ctp-red-hsl: var(--ctp-frappe-red-hsl);
	--ctp-red-oklch: var(--ctp-frappe-red-oklch);
	--ctp-maroon: var(--ctp-frappe-maroon);
	--ctp-maroon-rgb: var(--ctp-frappe-maroon-rgb);
	--ctp-maroon-hsl: var(--ctp-frappe-maroon-hsl);
	--ctp-maroon-oklch: var(--ctp-frappe-maroon-oklch);
	--ctp-peach: var(--ctp-frappe-peach);
	--ctp-peach-rgb: var(--ctp-frappe-peach-rgb);
	--ctp-peach-hsl: var(--ctp-frappe-peach-hsl);
	--ctp-peach-oklch: var(--ctp-frappe-peach-oklch);
	--ctp-yellow: var(--ctp-frappe-yellow);
	--ctp-yellow-rgb: var(--ctp-frappe-yellow-rgb);
	--ctp-yellow-hsl: var(--ctp-frappe-yellow-hsl);
	--ctp-yellow-oklch: var(--ctp-frappe-yellow-oklch);
	--ctp-green: var(--ctp-frappe-green);
	--ctp-green-rgb: var(--ctp-frappe-green-rgb);
	--ctp-green-hsl: var(--ctp-frappe-green-hsl);
	--ctp-green-oklch: var(--ctp-frappe-green-oklch);
	--ctp-teal: var(--ctp-frappe-teal);
	--ctp-teal-rgb: var(--ctp-frappe-teal-rgb);
	--ctp-teal-hsl: var(--ctp-frappe-teal-hsl);
	--ctp-teal-oklch: var(--ctp-frappe-teal-oklch);
	--ctp-sky: var(--ctp-frappe-sky);
	--ctp-sky-rgb: var(--ctp-frappe-sky-rgb);
	--ctp-sky-hsl: var(--ctp-frappe-sky-hsl);
	--ctp-sky-oklch: var(--ctp-frappe-sky-oklch);
	--ctp-sapphire: var(--ctp-frappe-sapphire);
	--ctp-sapphire-rgb: var(--ctp-frappe-sapphire-rgb);
	--ctp-sapphire-hsl: var(--ctp-frappe-sapphire-hsl);
	--ctp-sapphire-oklch: var(--ctp-frappe-sapphire-oklch);
	--ctp-blue: var(--ctp-frappe-blue);
	--ctp-blue-rgb: var(--ctp-frappe-blue-rgb);
	--ctp-blue-hsl: var(--ctp-frappe-blue-hsl);
	--ctp-blue-oklch: var(--ctp-frappe-blue-oklch);
	--ctp-lavender: var(--ctp-frappe-lavender);
	--ctp-lavender-rgb: var(--ctp-frappe-lavender-rgb);
	--ctp-lavender-hsl: var(--ctp-frappe-lavender-hsl);
	--ctp-lavender-oklch: var(--ctp-frappe-lavender-oklch);
	--ctp-text: var(--ctp-frappe-text);
	--ctp-text-rgb: var(--ctp-frappe-text-rgb);
	--ctp-text-hsl: var(--ctp-frappe-text-hsl);
	--ctp-text-oklch: var(--ctp-frappe-text-oklch);
	--ctp-subtext1: var(--ctp-frappe-subtext1);
	--ctp-subtext1-rgb: var(--ctp-frappe-subtext1-rgb);
	--ctp-subtext1-hsl: var(--ctp-frappe-subtext1-hsl);
	--ctp-subtext1-oklch: var(--ctp-frappe-subtext1-oklch);
	--ctp-subtext0: var(--ctp-frappe-subtext0);
	--ctp-subtext0-rgb: var(--ctp-frappe-subtext0-rgb);
	--ctp-subtext0-hsl: var(--ctp-frappe-subtext0-hsl);
	--ctp-subtext0-oklch: var(--ctp-frappe-subtext0-oklch);
	--ctp-overlay2: var(--ctp-frappe-overlay2);
	--ctp-overlay2-rgb: var(--ctp-frappe-overlay2-rgb);
	--ctp-overlay2-hsl: var(--ctp-frappe-overlay2-hsl);
	--ctp-overlay2-oklch: var(--ctp-frappe-overlay2-oklch);
	--ctp-overlay1: var(--ctp-frappe-overlay1);
	--ctp-overlay1-rgb: var(--ctp-frappe-overlay1-rgb);
	--ctp-overlay1-hsl: var(--ctp-frappe-overlay1-hsl);
	--ctp-overlay1-oklch: var(--ctp-frappe-overlay1-oklch);
	--ctp-overlay0: var(--ctp-frappe-overlay0);
	--ctp-overlay0-rgb: var(--ctp-frappe-overlay0-rgb);
	--ctp-overlay0-hsl: var(--ctp-frappe-overlay0-hsl);
	--ctp-overlay0-oklch: var(--ctp-frappe-overlay0-oklch);
	--ctp-surface2: var(--ctp-frappe-surface2);
	--ctp-surface2-rgb: var(--ctp-frappe-surface2-rgb);
	--ctp-surface2-hsl: var(--ctp-frappe-surface2-hsl);
	--ctp-surface2-oklch: var(--ctp-frappe-surface2-oklch);
	--ctp-surface1: var(--ctp-frappe-surface1);
	--ctp-surface1-rgb: var(--ctp-frappe-surface1-rgb);
	--ctp-surface1-hsl: var(--ctp-frappe-surface1-hsl);
	--ctp-surface1-oklch: var(--ctp-frappe-surface1-oklch);
	--ctp-surface0: var(--ctp-frappe-surface0);
	--ctp-surface0-rgb: var(--ctp-frappe-surface0-rgb);
	--ctp-surface0-hsl: var(--ctp-frappe-surface0-hsl);
	--ctp-surface0-oklch: var(--ctp-frappe-surface0-oklch);
	--ctp-base: var(--ctp-frappe-base);
	--ctp-base-rgb: var(--ctp-frappe-base-rgb);
	--ctp-base-hsl: var(--ctp-frappe-base-hsl);
	--ctp-base-oklch: var(--ctp-frappe-base-oklch);
	--ctp-mantle: var(--ctp-frappe-mantle);
	--ctp-mantle-rgb: var(--ctp-frappe-mantle-rgb);
	--ctp-mantle-hsl: var(--ctp-frappe-mantle-hsl);
	--ctp-mantle-oklch: var(--ctp-frappe-mantle-oklch);
	--ctp-crust: var(--ctp-frappe-crust);
	--ctp-crust-rgb: var(--ctp-frappe-crust-rgb);
	--ctp-crust-hsl: var(--ctp-frappe-crust-hsl);
	--ctp-crust-oklch: var(--ctp-frappe-crust-oklch);
}
